**Видео ..."Время в Python часть 1"**

заблуждение разработчиков к ... поисковик

Что такое сутки с техническое точки зрения
- оборот земли вокруг оси (как измерить и он еще и постоянно замедляется)
- сверхточное время на основе показаний атомных часов.
Для навигации точное время очень критично

**Видео ... "Обработка ошибок"**

# Обработка ошибок
1. Текст ошибки указывается в последней строчке
2. Все что перед ней - место, где ошибка произошла
3. Есть встроенные типы ошибок, но можно создавать и свои

Некоторые типы ошибок из документации (точнее [перевода](https://pythonworld.ru/tipy-dannyx-v-python/isklyucheniya-v-python-konstrukciya-try-except-dlya-obrabotki-isklyuchenij.html)):
- ZeroDivisionError - деление на ноль
- ImportError - не удалось импортирование модуля или его атрибута (надо установить эту библиотеку)
- IndexError - индекс не входит в диапазон элементов.
- KeyError - несуществующий ключ (в словаре, множестве или другом объекте)
- MemoryError - недостаточно памяти
- SyntaxError - синтаксическая ошибка (вы опечатались или не закрыли скобку)
- TypeError - операция применена к объекту несоответствующего типа
- ValueError - функция получает аргумент правильного типа, но некорректного значения
- Warning - предупреждение (текст на красном фоне в юпитере это предупреждение, а не ошибка)

In [ ]:
# эту строку можно перевести в число
some_num = '123'

In [ ]:
float(some_num)

123.0

In [ ]:
# а эту уже нет (по крайней мере в десятичном счислении)
ups = '123a'

In [ ]:
# ValueError - тип ошибки, далее пояснение что произошло
# ----> 1 float(ups) - в каком месте кода произошла ошибка
float(ups)

ValueError: could not convert string to float: '123a'

Пример ошибки внутри функции

In [ ]:
def square_sum(*args):
    total_sum = 0
    for arg in args:
        print(arg)
        total_sum += arg**2
    
    return total_sum

In [ ]:
square_sum(1, 2, 3)

14

In [ ]:
# пытаемся применить к операцию возведения в квадрат к строке
# ----> 1 square_sum(1, 2, '3') - в какой функции произошла ошибка
# ----> 4         total_sum += arg**2 - в какой именно строке произошла ошибка

square_sum(1, 2, '3')

1
2
3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Как сделать, чтобы цикл с расчетом не падал каждый раз

In [ ]:
try:
    # ваш код, где может произойти ошибка
    float('123a')

except:
    # код, который выполняется в случае ошибки
    print('Кривая строка')
    pass

Кривая строка

In [ ]:
data = ['90', '60', '90', '240tot']
total_sum = 0

for num in data:
    try:
        total_sum += float(num)

    except:
        print('Ошибка в данных: {}'.format(num))
    
print('Итого', total_sum)

Ошибка в данных: 240tot
Итого 240.0

Как сохранить всю информацию об ошибке?

In [ ]:
# полная версия traceback
import traceback

try:
    float('123fff')

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

None
Проехали

Traceback (most recent call last):
  File "<ipython-input-12-aec2760d579a>", line 5, in <module>
    float('123fff')
ValueError: could not convert string to float: '123fff'

### Блок finally

In [ ]:
try:
    print(stats["wednesday"])
    
except IndexError:
    print("Ошибка индекса")
    
except KeyError:
    print("Ошибка ключа")
    print(1/0)
    
finally:
    print('Эта строчка будет выполнена всегда')

Эта строчка будет выполнена всегда

NameError: name 'stats' is not defined

## Как сделать, чтобы цикл с рассчетом не падал каждый раз

In [ ]:
try:
  #код, шде может произойти ошибка
  float('123a')

except:
  #код, который выполняется в случае ошибки
  #например: напечатчь что произошло
  print('Упс, что-то пошло не так')
  pass #где pass означает - ничего не делать.

  #в Этом случае скрипт, не остановится на этом цикле, а продолжит работать дальше (если таких циклов например много в скрипте)

#Например

Пример ошибки внутри функции

In [ ]:
def square_sum(*args):
    total_sum = 0
    for arg in args:
        print(arg)
        total_sum += arg**2
    
    return total_sum

In [ ]:
square_sum(1, 2, 3)

14

In [ ]:
# пытаемся применить к операцию возведения в квадрат к строке
# ----> 1 square_sum(1, 2, '3') - в какой функции произошла ошибка
# ----> 4         total_sum += arg**2 - в какой именно строке произошла ошибка

square_sum(1, 2, '3')

1
2
3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
data = ['90', '60', '90', '240r']
total_sum = 0
for num in data:
  try:
    total_sum += float(num)

  except:
    print('Ошибка в данных: {}'.format(num))
print ('Итого: ', total_sum)

Ошибка в данных: 240r
Итого:  240.0

Как сохранить всю информацию об ошибки

In [ ]:
import traceback
try:
  float('123r')
except Exception:
  print(tracbeck.print_exc())
print('Приехали')

В блоке try except мы можем обрабатывать каждую ошибку в отдельности

In [ ]:
try:
  print(stats['wednesday'])
except indexError:
  print...
except keyError:
  print...

finally:
  print('эта строчка будет выполнена всегда')
  #тут можно разрывать соединение с файлом или закрывать открытый файл и т.д.

**Видео №...."работа с датами часть 1"**

# Даты

In [ ]:
# Чаще всего импортируют библиотеку datetime делают это двумя способами из-за чего иногда возникает путаница.
import datetime #первый варант

In [ ]:
# иногда к импорту добавляют короткую переменную, чтобы не писать всю библиотеку целиком.
import datetime as dt

In [ ]:
import datetime.py
    class datetime

In [ ]:
# Есть второй вариант импорта библиотеки и вспомогательных классов.
from datetime import datetime

В чем разница?
В этой библиотеке есть класс с одноименнын названием datetime
Когда мы пишем import datetime, мы вызываем только библиотеку.
Чтобы указать класс, нам придется при описании функции писать длинный код, например:

In [ ]:
datetime.datetime.strptime()

Когда же мы импортируем библиотеку сразу с классом. from datetime import datetime, ты мы как бы сразу вызываем отдельную папку datetame на полке datetime и весь наш остальной код просто будет короче, за счет отсутствия необходимости указывать на папку (подкласс). Например:

In [ ]:
datetime.strptime()

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

На занятиях нетологии будет второй варинт использован. короткий

01.05.2021. Почему не распознавать эту дату автоматически?
Дело в том, что в разных странах эту дату прочтут по разному, в России 1 мая, а в США 5 января. Более того, есть еще более сложные форматы даты. Например:

In [ ]:
2018-09-05Z15:32:00.1726352

Потому в Python пользователю предложено самому указывать формат даты. Согласно этого коды вы можете указать как читать данные. https://docs.python.org/3/library/datetime.html

In [ ]:
date_string = '09.05.2018  09:00'
#нам нужно показать Python где год, где дата, время и т.д.

In [ ]:
datetime.strptime(date_string, '%d.%m.%Y %H:%M')

datetime.datetime(2018, 5, 9, 9, 0)

In [ ]:
date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime #Специальный тип данных - datetime

datetime.datetime(2018, 5, 9, 9, 0)

In [ ]:
# теперь можем работать с датами
type(date_datetime)

datetime.datetime

In [ ]:
# получить номер года и часа
date_datetime.year, date_datetime.hour

(2018, 9)

In [ ]:
# день недели
date_datetime.weekday() #по умолчанию неделя начинается с нуля 0 - воскресенье, поэтому 2 - это по факту среда

2

In [ ]:
# сегодня
datetime.now()

datetime.datetime(2020, 6, 20, 15, 9, 40, 92581)

**Видео ... "работа с датами часть 2"**

### Прибавление интервала к датам

In [ ]:
from datetime import timedelta

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
type(start_date)

str

In [ ]:
'logs_2017-12-31.csv' < 'logs_2018-01-01.csv'

True

In [ ]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d') #перевод строки в формат datetime
start_date_datetime

datetime.datetime(2018, 1, 1, 0, 0)

In [ ]:
start_date_datetime + timedelta(days=1)

datetime.datetime(2018, 1, 2, 0, 0)

In [ ]:
start_date_datetime + timedelta(hours=1)

datetime.datetime(2018, 1, 1, 1, 0)

In [ ]:
start_date_datetime + timedelta(days=-7, minutes=-1)

datetime.datetime(2017, 12, 24, 23, 59)

### Перевод обратно в строку

In [ ]:
date = datetime(2018, 9, 1)
date

datetime.datetime(2018, 9, 1, 0, 0)

In [ ]:
date.strftime('%Y-%m-%dZZZ%H')

'2018-09-01ZZZ00'

In [ ]:
date.strftime('%B %d %Y %I:%M%p')

'September 01 2018 12:00AM'

In [ ]:
datetime.now().strftime('%Y-%m-01') #Чтобы получить первое число текущего месяца, необходимо вызвать текущую дату .now и при переводе его в строку, вместо кода дня явно указать 01.

'2020-06-01'

In [ ]:
# как получить первый день месяца

date.strftime('%Y-%m-01')

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
start_date, end_date

('2018-01-01', '2018-01-07')

In [ ]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d') #Сначала переведем строки в обьекты Datetime
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

2018-01-01 00:00:00 2018-01-07 00:00:00

In [ ]:
i = 0 #Сначала попробуем создать цикл с обычными цифрами. от 0 до 10

while i < 10:
    # ...
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
current_dt = start_date_dt #теперь заменим на даты
#Вместо 0 поставим начальную дату start_date_dt

while current_dt <= end_date_dt: #Цикл будет работать до тех пор пока дата окончения не превзойдет эту границу
    print(current_dt.strftime('%Y-%m-%d')) #Выводим значение в удобном нам формате.
    
    current_dt += timedelta(days=1) #Вместо +=1 мы используем метод timedelta который будет увеличивать нашу дату.

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07

In [ ]:
current_dt = start_date_dt

while current_dt.strftime('%Y-%m-%d') <= end_date:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07

In [ ]:
# можно и с помощью list comprehension
[(start_date_dt + timedelta(days=x)).strftime('%Y-%m-%d') for x in range(10)]

['2018-01-01',
 '2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-06',
 '2018-01-07',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10']

....**Текст, выделенный полужирным шрифтом**

### Нагрузка на систему по часам

In [ ]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        
#         print(line[11:13])
#         break
        
#         dt = datetime.strptime(line, '%Y-%m-%dT%H:%M:%SZ')
        hour = line[11:13]
        # print(hour)
        
        stats.setdefault(hour, 0)
        stats[hour] += 1
        
        # break
        
        # вычисления нагрузки на систему...
        
# результат
stats

{'21': 59,
 '20': 67,
 '23': 36,
 '22': 37,
 '18': 72,
 '13': 56,
 '11': 52,
 '00': 22,
 '16': 56,
 '17': 56,
 '15': 68,
 '19': 63,
 '12': 64,
 '10': 77,
 '01': 10,
 '07': 22,
 '05': 10,
 '09': 33,
 '06': 19,
 '14': 57,
 '08': 42,
 '03': 7,
 '02': 8,
 '04': 7}

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [ ]:
import time
from datetime import date
from datetime import datetime

In [ ]:
d = date(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

1552251600.0

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1552251600)

datetime.datetime(2019, 3, 11, 0, 0)

На практике все сложнее https://habr.com/ru/post/452584/

**Видео ___ "Вебинар на тему Исключения и обработка ошибок" **

Задача про интервалы
Имеется список отсортированных повозрастанию целых чисел data/ А также целое число n, которое лежит между минимальным и максимальными значениями из списка data. Необходимо определить минимальное ближайшее число к n из списка data.
Пример: data = [1, 7, 17, 23, 27, 35, 65]
n = 20

In [ ]:
data = [1, 7, 17, 23, 27, 35, 65] #нам нужно найти ближайшее число слева
n = 20

In [ ]:
i = 0

for num in data:
    print(num, data[i+1])
    
    i += 1
#Это не очень хороший вариант

1 7
7 17
17 23
23 27
27 35
35 65

IndexError: ignored

In [ ]:
#второй вариант
for i range(len(data)): 
  print(data[i], data[i+1])

  #ошибка

SyntaxError: ignored

In [ ]:
#Предпочтительный вариант, но тоже выдает ошибку, т.к. для последнего значения 65 нельзя сделать сложение +1. решается добавлением ограничения. пройтись enumerate не затрагивая последнего элемента
for i, num in enumerate(data[:-1]): #i становится индексом и в рамках цикла мы увеличиваем индексы на 1 i+1 
  print(i, num, data[i+1])

0 1 7
1 7 17
2 17 23
3 23 27
4 27 35
5 35 65

In [ ]:
#теперь чтобы решить задачу нам надо указать условие
for i, num in enumerate(data[:-1]): #i становится индексом и в рамках цикла мы увеличиваем индексы на 1 i+1 
  if num <= n <= data[i+1]:
    print(num)

17

In [ ]:
#альтернативный вариант Бинарный поиск. Списки разбиваются половинами, берется меньшая часть и снова делится пополам и т.д..
#ПОГУГЛИТЬ КАК ДЕЛАТЬ ТАКОЙ ЦИКЛ

Телефонный справочник
- Абакумов
- Андреев
.... 
- Иванов
... Ярцев

Мы открываем на середине. Например: попали на Петров. Теперь делим напополам первую часть половины и так далее пока не найдем Иванова.

In [ ]:
%%time 
#время выполнения
data = list(range(1000))
for i in range(10**6):
  500 in data

CPU times: user 6.36 s, sys: 931 µs, total: 6.36 s
Wall time: 6.37 s

In [ ]:
%%time 
#время выполнения
data = set(range(10**7))
for i in range(10**6):
  500 in data

CPU times: user 380 ms, sys: 412 ms, total: 792 ms
Wall time: 792 ms

Время поиска по множеству фактически не зависит от числа его элементов

Работа с ошибками

1. перевести нижнюю фразу на русский язык.
2. копируем и забиваем в поисковике - Лучше используйте яндекс, он лучше ищет в русском сигменте. еще один вариант ru.stackoverflow 
3. обращение к колегам. а) скидывать нужно все, но хотя бы все тело traceback b) 
4.

In [ ]:
with open ('real_data.txt', 'r') as f:
  for line in f:
    #print(line) хорошая практика сначала печатать значение. чтобы увидеть проблему визуально
    date, user_id, value = line.strip().split('\t') #запихнем в три переменные столбцы разделенные табуляцией.

In [ ]:
#вместо прямого указания формата или указания множества try\except создать шаблон форматов.
date_formats = ['#d.%m.%y %H:%M','%d.%m.%YT %H:%M:%S', ]

In [ ]:
#Соответственно форматы можно просто перебрать в функции. Соответственно ошибочные даты будут пропускаться
def make_date(date):
  for format_ in date_formats:
    try: 
      return datetime.strptime(date, format_)
    except:
      pass
    print('unknow format date', date)
    return datetime(1970, 1, 1) #Дата по умолчанию.

In [ ]:
#вместо print  в верхнем окне можно использовать оператор raise c указанием типа ошибки, 
#тогда ни одну ошибочную дату не пропустите, а будете просто добавлять шаблоны. Это оператор принудительной ошибки
    raise ValueError('unknow format date', date)

In [ ]:
def make_date(date):
  try:
    #05.10.16 23:18
    return datetime.strptime(date, '#d.%m.%y %H:%M')
  except:
    #строка на которой вылезла ошибка 09.10.2016T 21:40:00 попробуем вернуть дату в этом формате
    return datetime.strptime(date, '%d.%m.%YT %H:%M:%S')
    #Решение только на случай если ошибка одна.

In [ ]:
#Предположим у нас нет 4 столбца в данных. Но нам достаточно трех
with open ('real_data.txt', 'r') as f:
  for line in f:
    #print(line) 
      line = line.strip().split('\t')
      if len(line) == 3:
        date, user_id, value = line
        print(date, user_id, value)
        date = make_date(date)
#В случае конкретного файла возникает ошибка на второй строке, т.к. мы не угадали формат.

Из внешнего источника сделать большое количество запросов.
Задача получить много ответов о курсе доллара по дням.

In [ ]:
for i in range(10000):

In [ ]:
import requests

In [ ]:
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js').json()
response['Valute']['GBP']
#Если выполнять такую проверку несколько раз в день в цикле for для множества значений, 
#то часто будут ошибки. плохой Wifi, проблемы на сервере, доступность самого сервиса и пр.

{'CharCode': 'GBP',
 'ID': 'R01035',
 'Name': 'Фунт стерлингов Соединенного королевства',
 'Nominal': 1,
 'NumCode': '826',
 'Previous': 100.3342,
 'Value': 100.1994}

как сделать чтобы обойти ошибки? Можно сделать так чтобы сервис стучался скажем 5 раз.

In [ ]:
import time
N_RETRY = 5
for i in range(N_RETRY):
  try:
    requests.get('https://www.cbr-xml-daily.ru/daily_json.js', timeout=0.01).json() #Timeout - сколько ждать в секундах получения ответа
  except:
    #continue c строкой мы сможем решить вопрос с короткими задержками
    #Если проблема более длительная, можно делать паузу между запросами
    print ('Wait', 2**i)
    time.sleep(2**i)#функция делает паузу на заданное количество секунд, 
    #2**i означает что функция будет увеличивать время паузы на два в степени количества попыток
    #Такой алгоритм называется АЛГОРИТМ ЭКСПОНЕНЦИАЛЬНОЙ ЗАДЕРЖКИ