## Сделаем оглавление со ссылками

## Оглавление
  
1. [Задача 1](#task1)  
    1.1 [Основная часть](#task1_1)  
    1.2 [Дополнительная часть](#task1_2)  
2. [Задача 2](#task2)

### Как можно "разгладить" список

In [1]:
my_list = [['Екатеринбург', 'Москва'], ['Санкт-Петербург', 'Норильск'], ['Пермь', 'Астрахань']]

In [10]:
work_list = [j for i in my_list for j in i]
print(work_list)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [6]:
res = list()
for i in my_list:
    for j in i:
        res.append(j)
res

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [7]:
res = list()
for i in my_list:
    res += i
res

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [8]:
my_list_new = []
for i in my_list:
    for j in i:
        my_list_new.append(j)
print(my_list_new)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [9]:
result = []
for sub_list in my_list:
    for item in sub_list:
        result.append(item)
result

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [16]:
sum(my_list)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [18]:
some_list = [1, 2, 3, 4]
i = 0
for el in some_list:
    i += el
    
print(i)

10

In [20]:
sum(my_list, [])

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

### Изменение структуры во время итерации по ней 

Дан список с визитами по городам и странам. 
Напишем код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России.

In [28]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit7': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [23]:
for log in geo_logs:
    for i in log.values():
        if i[1] != 'Россия':
            geo_logs.remove(log)
            
geo_logs

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit5': ['Париж', 'Франция']},
 {'visit7': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [24]:
result = []

for log in geo_logs:
    if list(log.values())[0][1] == 'Россия':
        result.append(log)
        
result

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [25]:
geo_logs_copy = geo_logs.copy()

for log in geo_logs_copy:
    if list(log.values())[0][1] != 'Россия':
        geo_logs.remove(log)
        
geo_logs

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [29]:
geo_logs = list(filter(lambda log: list(log.values())[0][1] == 'Россия', geo_logs))

# print(geo_logs)

[{'visit1': ['Москва', 'Россия']}, {'visit2': ['Дели', 'Индия']}, {'visit3': ['Владимир', 'Россия']}, {'visit4': ['Лиссабон', 'Португалия']}, {'visit5': ['Париж', 'Франция']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

### Задача с парами из ДЗ

In [30]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [32]:
for pair in zip(sorted(boys), sorted(girls)):
    print(f'{pair[0]} и {pair[1]}')

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [33]:
for b, g in zip(sorted(boys), sorted(girls)):
    print(f'{b} и {g}')

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

### Задача по пользовательским просмотрам

In [34]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [36]:
for el in stream:
    print(el.split(','))

['2018-01-01', 'user1', '3']
['2018-01-07', 'user1', '4']
['2018-03-29', 'user1', '1']
['2018-04-04', 'user1', '13']
['2018-01-05', 'user2', '7']
['2018-06-14', 'user3', '4']
['2018-07-02', 'user3', '10']
['2018-03-21', 'user4', '19']
['2018-03-22', 'user4', '4']
['2018-04-22', 'user4', '8']
['2018-05-03', 'user4', '9']
['2018-05-11', 'user4', '11']

### Повторяющиеся числа из ДЗ

In [50]:
# numbers = input('введите числа через пробел: ').split()
numbers = ['5', '5', '5', '5', '4', '4', '4', '2', '1'] 
result = []
for a in numbers:
    if int(a) not in result and numbers.count(a) >= 2:
        result.append(int(a))

print(' '.join(list(map(str, sorted(result)))))

4 5

### Задача 1 из 1 ДЗ
<a id='task1'></a>

In [51]:
str1 = 'Насколько проще было бы писать программы, если бы не заказчики'
str2 = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [55]:
if len(str1) > len(str2):
    print('...')
else:
    pass

...

In [56]:
str_len = len(str1)
str_len_2 = len(str2)

if str_len > str_len_2:
    pass

### Практика. Удалим из словаря все пустые элементы (со значением None)

In [62]:
my_dict = {
    'id1': 123456, 
    'id2': 654321, 
    'id3': None,
    'id4': 777777
}

In [59]:
res = {i: j for i, j in my_dict.items() if j is not None}
res

{'id1': 123456, 'id2': 654321, 'id4': 777777}

In [63]:
my_dict = {key:val for key, val in my_dict.items() if val}
my_dict

{'id1': 123456, 'id2': 654321, 'id4': 777777}

### Практика. Посчитаем сумму элементов по главной диагонали в квадратной матрице

In [72]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [66]:
i = 0
summ = 0
for row in data:
#     print(el)
    summ += row[i]
    i += 1
    
summ

103

In [70]:
list(enumerate(data))

[(0, [13, 25, 23, 34]),
 (1, [45, 32, 44, 47]),
 (2, [12, 33, 23, 95]),
 (3, [13, 53, 34, 35])]

In [71]:
sum([row[i] for i, row in enumerate(data)])

103

In [75]:
# посчитаем обратную диагональ
sum([row[-i-1] for i, row in enumerate(data)])

124

In [77]:
sum([row[-1-i] for i, row in enumerate(data)])

124

### Практика. Посчитаем сколько раз каждое слово встречалось в тексте 
Вывести в формате: "слово": "количество вхождений"

За разделитель считаем пробел, все слова приводим к нижнему регистру

In [79]:
some_oxy_text = '''
Весь мой рэп, если коротко, про то, что
Уж который год который город под подошвой
В гору, когда прет. Потом под гору, когда тошно
Я не то, что Гулливер, но все же город под подошвой
Город под подошвой, город под подошвой
Светофоры, госпошлины, сборы и таможни
Я не знаю, вброд или на дно эта дорожка
Ты живешь под каблуком, у меня - город под подошвой
'''

In [86]:
res = {}


for word in some_oxy_text.lower().replace(',', '').replace('\n', ' ').replace('-', '').split():
#     print(word)
    if word in res:
        res[word] += 1
    else:
        res[word] = 1
for word, count in res.items():
    print(f'{word}: {count}')

весь: 1
мой: 1
рэп: 1
если: 1
коротко: 1
про: 1
то: 2
что: 2
уж: 1
который: 2
год: 1
город: 5
под: 7
подошвой: 5
в: 1
гору: 2
когда: 2
прет.: 1
потом: 1
тошно: 1
я: 2
не: 2
гулливер: 1
но: 1
все: 1
же: 1
светофоры: 1
госпошлины: 1
сборы: 1
и: 1
таможни: 1
знаю: 1
вброд: 1
или: 1
на: 1
дно: 1
эта: 1
дорожка: 1
ты: 1
живешь: 1
каблуком: 1
у: 1
меня: 1

In [88]:
splitted_text = some_oxy_text.lower().replace(',', '').replace('\n', ' ').replace('-', '').split()
for word in set(splitted_text):
    print(word, splitted_text.count(word))

то 2
который 2
знаю 1
на 1
же 1
мой 1
дно 1
все 1
тошно 1
и 1
вброд 1
каблуком 1
рэп 1
прет. 1
город 5
в 1
потом 1
госпошлины 1
но 1
у 1
если 1
гулливер 1
весь 1
ты 1
живешь 1
про 1
уж 1
сборы 1
я 2
что 2
или 1
эта 1
дорожка 1
под 7
год 1
меня 1
подошвой 5
коротко 1
светофоры 1
не 2
таможни 1
гору 2
когда 2

### Задача 1.2
<a id='task1_2'></a>