Оформление файла в jupyter

## оглавление
[ссылка](#task1) якорная ссылка. В квадратных скобках, название, в круглых якорная ссылка.
<a id=’task1’></a  - так пишется якорная ссылка.

In [ ]:
[Раздел1](#task1)

In [ ]:
<a id=’task1’></a

Как сделать одноуровневый список из вложенных (<a id=’task1’></a)

In [ ]:
my_list = [['Екатеринбург', 'Москва'], ['Санкт-Петербург', 'Норильск'], ['Пермь', 'Астрахань']]#дан список

Решение №1

In [ ]:
work_list = [
j for i in my_list
	for j in i]
print(work_list)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

решение №2 (вложенный цикл)

In [ ]:
work_list = []
for i in my_list:
	for j in i:
		work_list.append(j)
print(work_list)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

Решение №3

In [ ]:
result = []
for i in my_list:
	for j in i:
		result.append(j)
print(result)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

Преподаватель: Списки можно складывать друг с другом

In [ ]:
res = list()
for i in my_list:
	res += i
res

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

Решение в одну строку. Какая функция в Python складывает между собой элементы списки. c помощью sum
sum(my_list) – появится ошибка « не могу сложить список с int. Откуда взялся Int? Как объяснить эту ошибку?
!!!! перед функцией вопрос прямо в блокноте – помощь
В данном случае sum складывает списки с изначальным нулем.
Поэтому код должен выглядеть так: sum(my_list, []) это будет говорить что sum должен вести отсчет не от нуля, а от пустого списка.
На больших уровнях вложенности – не работает.

In [ ]:
sum(my_list, [])

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

Задача №2 Напишите код, который возвращает отфильтрованный список, содержащий только визиты из России.

In [ ]:
geo_logs = [
{'visit1': ['Москва', 'Россия']},
{'visit2': ['Дели', 'Индия']},
{'visit3': ['Владимир', 'Россия']},
{'visit4': ['Лиссабон', 'Португалия']}
]

Попробуем решение в лоб. Перебираем значение словарей которые есть в списке.
внутри одного цикла переберающего значения создаем вложенный и двигаемся по значениям перебирая элементы и если элемент вложенного цикла не равен Россия удаляем из списка значение

In [ ]:
for log in geo_logs:
  for i in log.values():
    if i[1] != 'Россия':
    	geo_logs.remove(log)
geo_logs

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}]

В результате кроме России в списке осталась Франция (изначальный список был больше). Почему?
Это происходит потому, что мы, действуя в рамках вложенного цикла сбиваем внутренний счетчик. Так делать нельзя не только для удаления, но и для добавления. Как это можно обойти.

Вариант 1. Добавлять в пустую переменную все значения с Россия

In [ ]:
result = []
for log in geo_logs:
		if list(log.values())[0][1] == 'Россия': #Если значение в  log
			result.append(log) 
result

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}]

Но в задании стоит именно фильтрация данных. Т.е. изменить исходный объект, а не создать новый. Если сделать копию списка для прохождения цикла, а удалять данные из исходного списка.

In [ ]:
geo_logs_copy = geo_logs.copy() 
for log in geo_logs_copy:
		if list(log.values())[0][1] != 'Россия': 
			geo_logs.remove(log) #Удаляем из списка значение из log
geo_logs

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}]

In [ ]:
#И однострочное решение с использование фильтра
list(filter(lambda log: list(log.values())[0][1] == 'Россия', geo_logs))

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}]

**Функция filter в первую переменную мы передаем условие фильтрации, а вторым откуда фильтровать данные.**

Отличие метода от функции
Метод пишется через ., а функция пишется отдельно
Методы всегда специфичны для определенного класса (т.е. могут не работать с другими классами (типами данных), а функции чаще всего работают.

**Zip формирует из двух списков кортежи (внтури можно передавать функции)**

In [ ]:
boys = ['peter', 'alex', '…']
girls = ['kate', 'liza', 'kira', '…']

In [ ]:
for pair in zip(sorted(boys), sorted(girls)):
	print(pair)

('alex', 'kate')
('peter', 'kira')
('…', 'liza')

In [ ]:
#Для того, чтобы кортежи вывести на экран. Надо воспользоваться индексами
print(f'{pair[0]} и {pair[1]}') #просто раскладываем обьект на индексы во время итерации print

… и liza

In [ ]:
#альтернативный вариант создать две переменные и выводить уже их
for b, g in zip(sorted(boys), sorted(girls)):
	print(f'{b} и {g}')

alex и kate
peter и kira
… и liza

Вопрос средние просмотры.

In [ ]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4'
]
#Как максимально эффективно разобрать список? Мы перебираем строки.
for i in stream:
	print(i)
#Нам необходимо применить метод split который разбивает строку по разделителю.
print(i.split(','))

2018-01-01,user1,3
2018-01-07,user1,4
['2018-01-07', 'user1', '4']

Повторяющиеся числа из ДЗ

In [ ]:
number = input('введите числа через пробел: ').split() #Получим список из строк (str) разделенных пробелом.
result = []
for i in number:
	if int(i) not in result and number.count(i) >= 2: #ЕСЛИ приведенное к числу значение в переменной а.
		result.append(int(i)) #Прибавляй в список цифровое значение
print(' '.join(list(map(str, sorted(result)))))

введите числа через пробел: 156987

Тренажеры по python – 
pythontutor.ru - НА РУССКОМ
hackerrank.com
checkio.org
leetcode.com
codewars.com

Удалить из словаря, все пустые элементы

In [ ]:
#Удалить из словаря, все пустые элементы
My_dict = {
'id1': 123456,
'id2': 123456,
'id3': None,
}

https://www.kaggle.com/ сайт с кодом по анализу данных
пример кода датасаентиста
https://www.kaggle.com/kanncaa1/feature-selection-and-data-visualization

In [ ]:
my_dict = {
'id1': 123568,
'id2': 123456,
'id3': None,
'id4': 9876,
}
res = {i: j for i, j in my_dict.items() if j != None} #Оставляем ключ и значение не изменными, для каждого из кортежей (items - возвращает значение пары ключ значение), т.е. ключа и значения нашего словаря если значение j не равно None
res

{'id1': 123568, 'id2': 123456, 'id4': 9876}

In [ ]:
#Примечание значение None надо искать не через знак равенства или неравенства, а через is или is not, т.е. совсем правильно будет:
res = {i: j for i, j in my_dict.items() if j is not None}
res

{'id1': 123568, 'id2': 123456, 'id4': 9876}

Замечание преподавателя. Булево значение (истина ложь, для None будет выдавать ложь, поэтому можно просто

In [ ]:
res = {i: j for i, j in my_dict.items() if val} #НЕПОНЯТНО

In [ ]:
data = [
        [13, 25, 23, 17],
        [45, 32, 44, 43],
        [12, 33, 23, 87],
        [13, 53, 45, 32],
]
#найти и сложить цифры по диагонали
#решение через цикл
i = 0
summ = 0
for row in data:
  summ += row[i]
  i += 1
summ

100

In [ ]:
#напишем тоже самое в одну строку
sum([row[i] for i, row in enumerate(data)]) #возьми индекс по нужной строке, итерируясь по индексу каждой строки через функцию enumerate, так как функция получает индекс и сам элемент при переборе. потом вме это суммируем

100

In [ ]:
list(enumerate(data)) #кортежи где нулевым элементом является индекс, а первым индексом является сам элемент

[(0, [13, 25, 23, 17]),
 (1, [45, 32, 44, 43]),
 (2, [12, 33, 23, 87]),
 (3, [13, 53, 45, 32])]

Вопрос, как переделать эту строку чтобы посчитать обратную диагональ

In [ ]:
sum([row[-i-1] for i, row in enumerate(data)]) #Поскольку индексация начинается с нуля, нам надо из минус 1 вычесть единицу

In [ ]:
Some_oxy_text = """
Весь мой рэп, если коротко, про то, что
Уж который год который город под подошвой
В гору когда прёт, потом под гору когда тошно,
Я не то что Гулливер, но всё же город под подошвой.
Город под подошвой, город под подошвой,
Светофоры, госпошлины, сборы и таможни
Я не знаю, вброд или на дно эта дорожка,
Ты живёшь под каблуком, у меня город под подошвой
"""
#Вывести в формет "слово": "количество вхождений". за резделитель считаем пробел, все слова приводим к нижнему регистру (upper)
some_oxy_text = """
Весь мой рэп, если коротко, про то, что
Уж который год который город под подошвой
В гору когда прёт, потом под гору? когда тошно
Я не то что Гулливер, но всё же город под подошвой
Город под подошвой, город под подошвой
Светофоры, госпошлины, сборы и таможни
Я не знаю, вброд или на дно эта дорожка,
Ты живёшь под каблуком, у меня город под подошвой
"""
#разложить на список слов и посчитать количество вхождений
res = {}
for word in some_oxy_text.lower().replace(',', '').replace('\n', ' ').replace('-', '').split(): #Сначала_к_списку_мы_должны_применить_реплейс_и_только_затем_сплит_т.к. после него у нас будет список к которому нельзя применить метод реплейс
    if word in res:
        res[word] +=1 #то я буду соответствующее значение по ключу наращивать на один
    else: 
        res[word] = 1 #Иначе я буду инициализировать соответствующую пару значением один???
for word, count in res.items():
  print(f'{word}: {count}')
#теперь заведем пустой словарь (над циклом)

весь: 1
мой: 1
рэп: 1
если: 1
коротко: 1
про: 1
то: 2
что: 2
уж: 1
который: 2
год: 1
город: 5
под: 7
подошвой: 5
в: 1
гору: 1
когда: 2
прёт: 1
потом: 1
гору?: 1
тошно: 1
я: 2
не: 2
гулливер: 1
но: 1
всё: 1
же: 1
светофоры: 1
госпошлины: 1
сборы: 1
и: 1
таможни: 1
знаю: 1
вброд: 1
или: 1
на: 1
дно: 1
эта: 1
дорожка: 1
ты: 1
живёшь: 1
каблуком: 1
у: 1
меня: 1